@media (max-width: 1200px) {
  .title{
    font-size: 32px;
  }
  .popular{
    padding: 40px 0;
    margin-bottom: 25px;
    &__title{
      margin-bottom: 40px;
    }
    &__filter-buttons{
      overflow: scroll;
      gap: 15px;
      margin-bottom: 30px;
      &::-webkit-scrollbar{
          width: 0 !important;
          height: 0 !important;
        }
    -ms-overflow-style : none;
    }
    &__filter-btn{
      font-size: 16px;
      line-height: 130%;
      min-width: max-content;
      svg{
        height: 30px;
        width: 30px;
      }
    }
    &__filter-items {
      justify-content: center;
      gap: 15px;
      margin-bottom: 30px;
    }
  }
  .best{
    padding: 0 0 40px;
  }
  .feedback{
    padding: 40px 0 0;
    &__slider{
      padding: 0;
    }
  }
  .app{
    padding: 40px 0 20px;
    &__title{
      margin-bottom: 25px;
    }
  }
  .catalog-sale{
    padding-top: 10px;
    margin-bottom: 30px;
    &__title{
      margin-bottom: 40px;
      text-align: center;
    }
  }
  .catalog{
    &__products-box{
      justify-content: center;
    }
  }
  .product{
    padding: 25px 0;
    &__info{
      flex-direction: column;
      align-items: center;
    }
    &__info-box{
      max-width: 610px;
      width: 100%;
      margin: 0;
    }
  }
  .product-slider{
    padding: 25px 0;
    .container{
      padding: 0;
    }
    &__title{
      padding: 0 15px;
    }
  }
  .product-tabs{
    padding: 25px 0 20px;
  }
}

@media (max-width: 992px){
  .footer-top{
    justify-content: flex-start;
    column-gap: 50px;
    row-gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    &__item-form{
      order: -1;
    }
    &__item--contact{
      order: -1;
    }
  }
  .top{
    &__bg{
      opacity: .15;
    }
    &__list-link{
      &:hover{
        color: $dark;
      }
    }
    &__list-btn{
      &:hover{
        background-color: $orange;
        color: #fff;
        border: none;
        padding: 8px 24px;
      }
    }
  }
  .delivery{
    &__bg{
      opacity: .15;
    }
  }
  .product-best{
    height: 420px;
    &__img{
      border-radius: 10px 10px 0 0;
    }
  }
  .best{
    .slick-dots {
      bottom: -45px;
    }
    .slick-slider {
      display: flex;
      justify-content: center;
      height: 430px;
      width: 375px;
      margin: 0 auto;
    }
    &__product-box{
      width: 375px;
    }
  }
  .slick-dots {
    button {
      &:hover {
        transition: none;
        background-color: none;

        &::after {
          background-color: transparent;
        }
      }

      &:focus {
        transition: none;
        outline: none;
      }

      .slick-active {
        background-color: $orange;
      }
    }
  }
  .app{
    &__inner{
      justify-content: center;
    }
    &__img{
      display: none;
    }
  }
  .catalog-sale {
    .container{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__items{
      width: 376px;
      height: 400px;
    }
    &__item-link{
      margin-left: 3px;
    }
    .slick-dots{
      bottom: -45px;
    }
  }
  .catalog{
    margin-bottom: 30px;
    &__content{
      position: relative;
      display: flex;
      justify-content: center;
    }
    &__filters{
      padding: 80px 0 25px 25px;
      position: absolute;
      top: -80px;
      left: -15px;
      z-index: 10;
      border-radius: 0 6px 6px 0;
      border: 1px solid #ececec;
      border-left: none;
      width: 320px;
      max-width: none;
      background-color: #fff;
      transition: transform .3s;
      transform: translateX(-350px);
    }
    &__filters-btn{
      display: block;
    }
  }
  .catalog__filters--active{
    transform: translateX(0);
  }
  .breadcrumbs{
    margin-bottom: 40px;
  }
  .catalog-top{
    padding: 50px 0 30px;
    &__title{
      position: absolute;
      top: 0;
      left: 0;
    }
    &__btn{
      display: block;
    }
  }
  .jq-selectbox__select{
    &:hover {
        border-color: $border-dark;
        .jq-selectbox__select-text{
          color: $dark;
        }
        .jq-selectbox__trigger-arrow {
          &::before,
          &::after {
            background-color: $border-dark;
          }
        }
      }
  }
  .product-card{
    &:hover {
        border: 1px solid #ececec;
      }
    &__btn{
      &:hover {
          transition: none;
          background-color: $orange;
          color: #fff;
          border: 2px solid transparent;
        }
    }
  }
  .pagination{
    &__list-link,
    &__arrows{
      &:hover {
          transition: none;
          background-color: #FAEDED !important;
          color: $darkblue;
          border-radius: 3px;
      
          &::before,
          &::after {
            background-color: #fff;
          }
        }
    }
  }
  .catalog-sale{
    &__item-link{
      &:hover{
        transition: none;
        box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
        .catalog-sale__item-title {
            transition: color .3s;
            color: $dark;
          }
      }
      &:focus {
        outline: 1px solid transparent;
      }
    }
  }
  .product{
    &__info-btn{
      &:hover{
        transition: none;
        background-color: $orange;
        color: #fff;
        border: none;
        path {
          stroke: #fff;
        }
      }
    }
  }
  .product-tabs{
    &__top-item{
      &:hover{
        transition: none;
      }
      &:focus{
        outline: none;
      }
    }
  }
  .review__form-textarea,
    .review__form-input{
    &:focus{
      outline: none;
      border: 1px solid #C2C2C2;
    }
  }
  .review__form-btn,
    .footer-top__btn{
    &:hover{
      background-color: $orange;
      color: #fff;
      border-color: transparent;
      path{
        fill: white;
      }
    }
  }
}

@media (max-width: 768px) {
  .header {
    height: 72px;
    padding: 25px 5px;
  }
  .logo {
    margin-right: auto;
    &__img {
      max-width: 165px;
    }
  }
  .menu{
    display: none;
    &__btn{
      display: block;
    }
  }
  .user-nav{
    margin-left: auto;
    &__list-link{
      &:hover {
          background-color: transparent;
          border-radius: 4px;
          path {
            stroke: $dark;
          }
          ellipse {
            stroke: $dark;
          }
          .user-nav__link-item {
            color: #fff;
            background-color: $orange;
          }
        }
    }
  }
  .modile-menu{
    .menu{
      display: flex;
    }
  }
  .popular{
    &__filter-buttons{
      gap: 10px;
    }
    &__filter-items{
      gap: 5px 10px;
    }
    &__filter-btn {
      font-size: 14px;
      svg {
        height: 20px;
        width: 20px;
      }
    }
  }
  .product-card{
    max-width: 170px;
    max-height: 310px;
  }
  .delivery{
    .container{
      padding: 25px 15px 25px;
    }
  }
  .best{
    &__title{
      margin-bottom: 30px;
    }
  }
  .product-best {
    margin-left: 5px;
    &__link{
      &:hover{
        background-color: $orange;
        svg {
            transition: none;
            transform: translateX(0);
          }
        * {
            fill: #fff;
          }
      }
      &:active{
        background-color: $orange;
        * {
          fill: #fff;
        }
      }
      &:focus {
        background-color: $orange;
        border: none;
        outline-color: transparent;
        * {
          fill: #fff;
        }
      }
    }
  }
  .feedback{
    max-height: 650px;
    &__slider{
      height: max-content;
    }
    &__title{
      margin-bottom: 30px;
    }
    &__slider-item{
      flex-direction: column;
      align-items: center;
      margin: 0 auto;
      max-width: 80%;
    }
    &__blockquote{
      font-size: 16px;
      margin: 0 auto 20px;
    }
    &__slider-author{
      font-size: 18px;
    }
    &__author-annotation{
      margin-top: 10px;
    }
    &__slider-img{
      max-width: 250px;
      max-height: 250px;
      height: 100%;
      width: 100%;
    }
    .slick-dots{
      display: none !important;
    }
    .slick-prev{
      top: 105px;
      bottom: auto;
      left: calc(50% - 190px);
    }
    .slick-next{
      top: 105px;
      bottom: auto;
      left: calc(50% + 190px);
    }
    .slick-arrow{
      &:hover {
        transition: none;
        background-color: $bg;
        border: 3px solid $border-dark;
        &::before,
        &::after {
          background-color: $border-dark;
        }
      }
    }
  }
  .catalog{
    &__products-box{
      margin-bottom: 30px;
    }
  }
  .product{
    &__slider{
      max-width: 540px;
      height: 470px;
    }
    &__info-title,
    &__star-rating{
      margin-bottom: 15px;
    }
  }
  .product-tabs{
    &__top{
      padding-left: 15px;
    }
    &__content{
      padding: 0 15px;
    }
  }
  .product-slider{
    .slick-dots{
      bottom: -46px;
    }
  }
}

@media (max-width: 600px){
  .footer-top{
    gap: 20px;
    padding: 40px 0 30px;
    justify-content: flex-start;
    &__item{
      max-width: 215px;
      width: 100%;
    }
  }
  .footer-bot {
    height: 54px;
  }
  .top{
    &__title{
      font-size: 40px;
      max-width: 260px;
    }
    &__text{
      font-size: 18px;
    }
    &__list-btn{
      font-size: 14px;
      padding: 8px 24px;
    }
    &__list-link{
      font-size: 16px;
    }
  }
  .feedback{
    max-height: 550px;
    &__title{
      font-size: 20px;
    }
    &__slider-item{
      gap: 20px;
      max-width: max-content;
    }
    &__blockquote{
      font-size: 14px;
    }
    &__slider-img {
      max-width: 100px;
      max-height: 100px;
      height: 100%;
      width: 100%;
    }
    .slick-prev {
      top: 30px;
      left: calc(50% - 115px);
    }
    .slick-next {
      top: 30px;
      left: calc(50% + 115px);
    }
  }
  .product-best{
    max-width: 345px;
    margin: 0;
  }
  .best {
    .slick-slider {
      height: 430px;
      width: 350px;
      margin: 0 auto;
    }
    &__product-box {
      width: 350px;
    }
  }
  .app{
    padding: 0 0 20px;
    &__title{
      margin-bottom: 15px;
    }
    &__text{
      margin-bottom: 15px;
    }
  }
  .catalog-sale{
    margin-bottom: 65px;
  }
  .pagination{
    &__list-item{
      &:nth-of-type(2){
        display: none;
      }
      &:nth-of-type(4){
        display: none;
      }
    }
  }
  .product-slider{
    margin-bottom: 20px;
    &__title{
      margin-bottom: 30px;
    }
  }
  .product{
    padding: 0 0 25px;
    &__slider{
      max-width: 290px;
      height: 300px;
    }
    &__slider-img{
      margin-top: 2%;
      object-fit: contain;
      max-height: 98%;
      max-width: 290px;
      border-radius: 6px;
    }
    &__info-subtitle{
      font-weight: 400;
      font-size: 18px;
    }
    &__info-link{
      font-size: 16px;
    }
    &__info-form{
      flex-direction: column;
      align-items: flex-start;
    }
  }
  .product-tabs{
    &__top{
      overflow: auto;
      &::-webkit-scrollbar {
        width: 0 !important;
        height: 0 !important;
      }
    }
    &__top-item{
      font-size: 20px;
      height: 30px;
      &:nth-of-type(3){
        display: flex;
        gap: 5px;
        margin-right: 15px;
      }
    }
    &__content{
      font-size: 16px;
    }
  }
  .review{
    &__item-top{
      flex-direction: column;
      align-items: flex-start;
      gap: 15px;
      margin: 0;
    }
    &__form{
      padding-top: 45px;
    }
    &__input-wrapper{
      flex-direction: column;
      gap: 15px;
    }
    &__textarea-box{
      max-width: 100%;
    }
    &__form-input{
      max-width: 100%;
      width: 100%;
    }
    &__form-save{
      font-size: 18px;
    }
    &__author-name{
      font-size: 20px;
    }
  }
}

@media (max-width: 475px){
  .title{
    font-size: 24px;
  }
  .logo{
    &__img{
      height: 23px;
      width: 100%;
      max-width: 115px;
    }
  }
  .top{
    &__content{
      padding: 25px 0;
    }
    &__text {
      font-size: 16px;
    }
  }
  .delivery{
    &__title {
      font-size: 24px;
      margin-bottom: 20px;
    }
    &__text{
      font-size: 16px;
      margin-bottom: 20px;
    }
    &__list-item{
      font-size: 18px;
      padding-left: 44px;
    }
    &__list{
      margin-bottom: 30px;
    }
  }
  .app{
    padding: 0;
    &__catalog{
      margin-bottom: 25px;
    }
  }
  .catalog-top{
    justify-content: flex-start;
    gap: 10px;
    &__filter{
      gap: 10px;
    }
  }
  .catalog-sale {
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__items {
      width: 305px;
      height: 430px;
    }
    &__item-link {
      max-width: 300px;
    }
  }
  .product-slider{
    &__title{
      text-align: center;
    }
    .slick-slider {
      margin: 0 auto;
      max-width: 172px;
    }
  }
  
}

@media (max-width: 390px) {
  .product-best {
    max-width: 280px;
    margin: 0;
  }
  .best {
    .slick-slider {
      width: 290px;
      margin: 0 auto;
    }
    &__product-box {
      width: 290px;
    }
  }
  .app{
    padding: 50px 0 0;
  }
  .jq-selectbox__select{
    padding: 15px 38px 15px 10px;
  }
}